.btn-custom{
    width: 100%;
    max-width: 298px;
    height: 64px;
}

.btn-custom-2{
    color: white !important;
    /* background: rgb(0, 86, 246); */
    background:#23B32F;
    width: 100%;
    border-radius: 5px;
    padding: 14px 32px;
    font-size: 19px;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-font{
    font-family: 'Alata', sans-serif;
}