.btn-custom{
    width: 100%;
    max-width: 298px;
    height: 64px;
}

.btn-ocean{
    background: #FE642E !important;
    color: #2D2C2C;
}

.btn-peaceful{
    background: #2EFE9A !important;
}

.btn-too-dark{
    background: #2D2C2C !important;
    color: white !important;
}

.btn-too-success{
    background: #04B404 !important;
    color: white !important;
}

.btn-custom-2{
    color: white !important;
    /* background: rgb(0, 86, 246); */
    background:#23B32F;
    width: 100%;
    border-radius: 5px;
    padding: 14px 32px;
    font-size: 19px;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bg-gradient-primary-to-secondary {
    background-color: #0061f2;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}
.bg-gradient-success{
    background: rgb(2,121,46);
    background: linear-gradient(0deg, rgba(2,121,46,1) 0%, rgba(0,148,64,1) 19%, rgba(0,255,145,1) 100%);
}

.bg-too-dark{
    background: #2D2C2C !important;
}

.bg-gray{
    background: #434242;
}

.bg-purple{
    background: #C102A5;
}

.bg-array{
    background: linear-gradient(to left, #B06AB3, #4568DC) !important;
}

.bg-dev-course{
    background: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat center center fixed; 
    /* background-size: cover;  */
}

.border-purple{
    border: 2px solid #C102A5 !important;
}
.main-font{
    font-family: 'Alata', sans-serif;
}


/*text*/

.text-shadow{
    text-shadow: 2px 2px 9px #3f3f3f;
}
.text-array{
    color: linear-gradient(to left, #B06AB3, #4568DC) 1 !important;
}

/*person*/

.pb-10{
    padding-bottom: 6rem !important;
}
.container-teste{
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}

.mt-n10, .my-n10 {
    margin-top: -3rem !important;
}

.fa-2x {
    font-size: 1.6em !important;
}

/*breadcrumbs*/

.breadcrumb-item a{
    color: white !important;;
    font-size: 12pt !important;
}

.breadcrumb-item.active{
    color: #cdcdcd !important;;
    font-size: 12pt !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">" !important;
}


/*card-content*/

.card-content{
    border: 1px solid; 
    border-image: linear-gradient(to left, #B06AB3, #4568DC) 1 !important
}

.card-content-top{
    border-top: 5px solid !important; 
    border-bottom:0 !important; 
    border-left: 0 !important; 
    border-right: 0 !important; 
    border-image: linear-gradient(to left, #B06AB3, #4568DC) 1 !important;
}

.card-content-bottom{
    border-bottom: 5px solid !important; 
    border-top:0 !important; 
    border-left: 0 !important; 
    border-right: 0 !important; 
    border-image: linear-gradient(to left, #B06AB3, #4568DC) 1 !important;
}


.array-font{
    font-family: 'Alata', sans-serif !important;
}